body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    background: white;
    width: 600px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 12px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}
